.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    background-color: #f0f0f0;
}

.signup-form {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.signupinput-group {
    margin-bottom: 15px;
    text-align: left;
}

.signupinput-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.signupinput-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.signup-btn {
    width: 100%;
    background-color: #276afc;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.signup-btn:hover {
    background-color: #45a049;
}

.signuperror-message {
    color: red;
    margin-top: 15px;
}

.signupsuccess-message {
    color: green;
    margin-top: 15px;
}
